---
layout: default
title: "News By Tag"
breadcrumb: true
header:
   image_fullwidth: header_unsplash_8.jpg
permalink: "news/tags"
---
<div id="blog-index" class="row">
	<div class="small-12 columns t30">
		<h1>{{ page.title }}</h1>
		{% if page.teaser %}<p class="teaser">{{ page.teaser }}</p>{% endif %}

		{% assign split_mark = '<|>' %}

		{% assign tags = '' %}
		{% for tag in site.tags %}
		  {% assign name = tag | first %}
		  {% assign tags = tags | append: split_mark  | append: name %}
		{% endfor %}

		{% assign tags = tags
		  | remove_first: split_mark
		  | split: split_mark
		  | sort: self %}
		<ul>
		{% for tag in tags %}
		<li> <a href="#{{ tag }}">{{ tag }}</a>
		{% endfor %}
		</ul>
		{% for tag in tags %}
		<h2 id="{{ tag }}">{{ tag }}</h2>
		{% include list-posts tag='header' %}
		{% endfor %}

	</div><!-- /.small-12.columns -->
</div><!-- /.row -->
